{% extends 'layout.html' %}
{% block body%}

<section class="beast container bg-secondary-subtle my-2 px-5">
    <div class="row text-center">
        <div class="col-lg-6 ">
            <img class="rounded-circle" src="{{url_for('static',filename='img/Werewolf.jpg')}}">
        </div>
        <div class="col-lg-6 my-auto">
            <h1>Beast Name</h1>
        </div>
    </div>
    <hr>
    <div class="beast-data">
        <h3>
            Description: 
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque facere repellat dolorum qui itaque, placeat beatae sed. Possimus omnis corporis amet, consequatur sint repellat deserunt accusamus voluptate voluptas non ratione.
        </p>
    </div>
    <hr>
    <div class="beast-data">
        <h3>
            Behind the Scenes: 
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque facere repellat dolorum qui itaque, placeat beatae sed. Possimus omnis corporis amet, consequatur sint repellat deserunt accusamus voluptate voluptas non ratione.
        </p>
    </div>
    <hr>
    <div class="beast-data">
        <h3>
            Appearances: 
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque facere repellat dolorum qui itaque, placeat beatae sed. Possimus omnis corporis amet, consequatur sint repellat deserunt accusamus voluptate voluptas non ratione.
        </p>    
    </div>
    <hr>
</section>

Hello potter
{% endblock %}

