{% extends 'layout.html' %}

{% block title %}
Beast
{%endblock %}

{% block body %}
<link rel="stylesheet" href="css/app.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="static/card.css"> -->
<link rel="stylesheet" href="{{url_for('static',filename='card.css')}}">

<title>View Holiday Deals</title>

           
<main class="main">
  <section class="card-area">

    <!-- Card: City  -->
    <section class="card-section">
        <div class="card">
            <div class="flip-card">
                <div class="flip-card__container">
                    <div class="card-front">
                        <div class="card-front__tp card-front__tp--city">
                            <!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" class="card-front__icon"> 
                          <g>
                            <path d="M49.7,22c-1.1,0-2,0.9-2,2v32.2c0,1.1,0.9,2,2,2s2-0.9,2-2V24C51.7,22.9,50.8,22,49.7,22z"/>
                           <path d="M13,29.5c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3h20.8c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3h20.8c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7
                               V7.1h24.8v15.3c0,1.1,0.9,2,2,2s2-0.9,2-2V5.1c0-1.1-0.9-2-2-2H3.7c-1.1,0-2,0.9-2,2v51c0,1.1,0.9,2,2,2s2-0.9,2-2V36.5H13
                               c1.1,0,2-0.9,2-2s-0.9-2-2-2H5.7v-3H13z"/>
                           <path d="M58,11.9c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.2c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0
                               c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1-0.1-0.2-0.1
                               c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1,0-0.2-0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0c0,0,0,0,0,0
                               c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0-0.1,0.1l-12.6,7.8
                               c0,0,0,0,0,0c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2
                               c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2c0,0,0,0,0,0v5.4H22.1
                               c-1.1,0-2,0.9-2,2v28.9c0,1.1,0.9,2,2,2s2-0.9,2-2V29.3h17.3v26.9c0,1.1,0.9,2,2,2s2-0.9,2-2V21l8.6-5.3v40.5c0,1.1,0.9,2,2,2
                               s2-0.9,2-2V12.1C58,12,58,12,58,11.9z"/>
                           <path d="M28,31L28,31c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S29.1,31,28,31z"/>
                           <path d="M33.5,31L33.5,31c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S34.6,31,33.5,31z"/>
                           <path d="M28,36L28,36c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S29.1,36,28,36z"/>
                           <path d="M33.5,36L33.5,36c-1.1,0-2,0.9-2,2s0.9,2,2,2c1.1,0,2-0.9,2-2S34.6,36,33.5,36z"/>
                       </g>
                       </svg>  -->

                       <h2 class="card-front__heading">
                        {{name}}
                    </h2>
                    <p class="card-front__text-price">
                        do you want to know more about {{name}}
                    </p>
                        </div>

                        <div class="card-front__bt">
                            <p class="card-front__text-view card-front__text-view--city">
                                than open card 
                            </p>
                        </div>
                    </div>
                    <div class="card-back">
                        <img src="https://pa1.aminoapps.com/5941/41e62543f6c501b26eb2190b6a0d7fece9c56689_hq.gif"  alt="img">
                         <!-- <video class="video__container" autoplay muted loop>
                            <source class="video__media" src="https://player.vimeo.com/external/370331493.sd.mp4?s=e90dcaba73c19e0e36f03406b47bbd6992dd6c1c&profile_id=139&oauth2_token_id=57447761" type="video/mp4">
                        </video>  -->
                    </div>
                </div>
            </div>

            <div class="inside-page">
                <div class="inside-page__container">
                    <h3 class="inside-page__heading inside-page__heading--city">
                        {{info}}
                    </h3>
                    <p class="inside-page__text">
                       {{info}}
                    </p>
                    <a href="#" class="inside-page__btn inside-page__btn--city">View deals</a>
                </div>
            </div>
        </div>
    </section>
</main>

 <!-- All creatures -->

 <section id="various-beasts" class="m-5 p-5">
  <div class="container text-center">
    <div id="beast-carousel" class="carousel slide bg-secondary" data-bs-ride="carousel">
      <div class="carousel-inner px-5">
        {% for item in items %}
        {% if loop.index == 1 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <img class="m-5 rounded img-fluid" src="{{item[9]}}" alt="Slide {{ loop.index }}">
            <!-- <div class="carousel-caption">   -->
           <h3>{{ item[0] }}</h3>
           <p>{{ item[1] }}</p>
            <p>{{item[2]}}</p>
              <p>{{item[3]}}</p>
              <p>{{item[4]}}</p>
              <a href="{{ url_for('show_more', item_id=item[0]) }}" class="tag-button" id="button">watch more</a>
          
            <!-- </div>  -->
        
        </div> 
        {% endfor %}
      </div>
  
        <!-- Previous and Next controls inside the carousel container   -->
      <a class="carousel-control-prev" href="#beast-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#beast-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
 </section> 



  <!--<h3 class="container creatures text-center">Beast In hogwards </h3> 
 <br>

 <div class="container marketing"> 

	<div class="row">
		<section id="creatures-content" class="container creatures text-center"></section>
		{% for result in items %}
		<div class="col-lg-4">
     
      
				<div class="pt-3">
            
					<h2>
						 {{result[0]}}
					</h2>
          <a href="{{ url_for('show_more', item_id=result[0]) }}">watch more</a>
          <div class="card-content"> 
					<img class="img-resize" src="{{result[12]}}" >
          <div class="card">
                          <h3>Description</h3>
                  <p>
                    {{result[1]}}
                  
                  </p>  
                  <h3>habitate</h3>   
                  <p>
                    {{result[4]}}
                  
                  </p>  
                  <h3>behavior</h3>    
                  <p>
                    {{result[5]}}
                
                </p>  
               </div> 
               </div> 
               </div> 
				</div>
			
			</div>
		{%endfor%}
	</section>
	</div>

</div> -->



   <!-- HTML structure for the carousel  -->
   
   
<!-- <div>
<section id="various-beasts" class="m-5 p-5">
<div class="container text-center">
  <div id="beast-carousel" class="carousel slide bg-secondary" data-bs-ride="carousel">
    <div class="carousel-inner px-5">
      {% for item in items %}
      {% if loop.index == 1 %}
      <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
      {% endif %}
        <img class="m-5 rounded img-fluid" src="{{item[12] }}" alt="Slide {{ loop.index }}">
         <div class="carousel-caption"> 
          <h3>{{ item[0] }}</h3>
          <p>{{ item[1] }}</p>
          <p>{{item[2]}}</p>
          <p>{{item[3]}}</p>
          <p>{{item[4]}}</p>
          <a href="{{ url_for('show_more', item_id=item[0]) }}" class="tag-button" id="button">watch more</a>
         </div>
      </div> 
      </div>
      {% endfor %}
    </div>

   Previous and Next controls inside the carousel container   
    <a class="carousel-control-prev" href="#beast-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#beast-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</section>
</div>  -->
    <!-- Include Bootstrap JS link and any other necessary scripts here  -->


{% endblock %} 