{% extends 'layout.html' %}

{% block title %}
Beast
{%endblock %}

{% block body %}           

<section id="creatures-content" class="container creatures text-center">
	<div class="pt-3">
		<h1 class="text-capitalize">
			{{name}}
		</h1>
		<img src="{{url_for('static',filename='img/acromantula.jpg')}}" class="rounded img-fluid m-4">
		<p>
			Creatures Data: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia cumque quia minima vitae iste. Provident officia cum repellat quaerat amet neque doloribus iste eaque enim nostrum nemo suscipit, sed incidunt? 
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia cumque quia minima vitae iste. Provident officia cum repellat quaerat amet neque doloribus iste eaque enim nostrum nemo suscipit, sed incidunt? 
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia cumque quia minima vitae iste. Provident officia cum repellat quaerat amet neque doloribus iste eaque enim nostrum nemo suscipit, sed incidunt? 
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia cumque quia minima vitae iste. Provident officia cum repellat quaerat amet neque doloribus iste eaque enim nostrum nemo suscipit, sed incidunt? 
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia cumque quia minima vitae iste. Provident officia cum repellat quaerat amet neque doloribus iste eaque enim nostrum nemo suscipit, sed incidunt? 
		</p>        
	</div>
</section>


  <section class="card-area">
    
    {% for item in items %}
    {% if loop.index == 1 %}
    {% else %}
    {% endif %}
    <!-- Card: City  -->
    <section class="card-section">
        <div class="card">
            <div class="flip-card">
                <div class="flip-card__container">
                    <div class="card-front">
                        <div class="card-front__tp card-front__tp--city">
                        <h2 class="card-front__heading">
                        	{{item[0]}}
	                    </h2>

						  <!-- <img class="m-5 rounded img-fluid" src="{{item[9]}}" alt="Slide {{ loop.index }}"> -->
						   <!-- <p>{{ item[1] }}</p>
							<p>{{item[2]}}</p>
							  <p>{{item[3]}}</p>
							  <p>{{item[4]}}</p> -->
							  <!-- <a href="{{ url_for('show_more', item_id=item[0]) }}" class="tag-button" id="button">watch more</a> -->
				

						<!-- <p class="card-front__text-price">
							do you want to know more about {{name}}
						</p> -->
                        </div>

                        <!-- <div class="card-front__bt">
                            <p class="card-front__text-view card-front__text-view--city">
                                then hover
                            </p>
                        </div> -->
                    </div>
                    <div class="card-back">
                        <img src="https://pa1.aminoapps.com/5941/41e62543f6c501b26eb2190b6a0d7fece9c56689_hq.gif"  alt="img">
                    </div>
                </div>
            </div>

            <div class="inside-page">
                <div class="inside-page__container">
                    <h3 class="inside-page__heading inside-page__heading--city">
                        {{info}}
                    </h3>
                    <p class="inside-page__text">
                       {{info}}
                    </p>
                    <a href="#" class="inside-page__btn inside-page__btn--city">View deals</a>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
 <!-- All creatures -->




 
 <section id="various-beasts" class="m-5 p-5">
  <div class="container text-center">
    <div id="beast-carousel" class="carousel slide bg-secondary" data-bs-ride="carousel">
      <div class="carousel-inner px-5">
        {% for item in items %}
        {% if loop.index == 1 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <img class="m-5 rounded img-fluid" src="{{item[9]}}" alt="Slide {{ loop.index }}">
            <!-- <div class="carousel-caption">   -->
           <h3>{{ item[0] }}</h3>
           <p>{{ item[1] }}</p>
            <p>{{item[2]}}</p>
              <p>{{item[3]}}</p>
              <p>{{item[4]}}</p>
              <a href="{{ url_for('show_more', item_id=item[0]) }}" class="tag-button" id="button">watch more</a>
          
            <!-- </div>  -->
        
        </div> 
        {% endfor %}
      </div>
  
        <!-- Previous and Next controls inside the carousel container   -->
      <a class="carousel-control-prev" href="#beast-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#beast-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
 </section> 


 

{% endblock %} 