{% extends 'layout.html' %}

{% block title %}
Encyclopedia 
{%endblock %}

{% block body %}

<section class="container encyclopedia text-center">
    {%for item in encyclopedia %}
        <div class="card">
            <div class="content">
              <div class="front" style="background-image: url('{{item[9]}}');">

                 
                      {{item[0]}}
                 
                  
              </div>
                   
              <div class="back">
                <p>Description: {{item[1]}}</p>
                <p>habitat: {{item[2]}}</p>
                
                <p>abilities": {{item[3]}}</p>
                
                <p>interaction_with_human_wizards: {{item[4]}}</p>
                
                
              </div>
            </div>
          </div>
          {%endfor%}
    </section>
    <!-- <section class="container encyclopedia">
        <div class="card">
            <div class="content">
              <div class="front">
                Front
              </div>
              <div class="back">
                Back!
              </div>
            </div>
          </div>
    </section> -->

{%endblock %}
