<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='card.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='font.css')}}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a202c591d5.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='card.css')}}"> -->


</head>
<body>
  
  <!-- #grabbing flash messages to show error -->
  {% with messages=get_flashed_messages(with_categories=true) %}  
    {% if messages %}
      {% for category,message in messages %}
          <div class="alert alert-{{ category}}" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
          </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <nav class="navbar navbar-expand-lg px-5 mb-5" data-bs-theme="dark">
    <img src="	https://static.harrypotterfanzone.com/themes/hpfz/assets/sorting-hat.png" alt="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item m-3">
        <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#beast-kinds" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Various kinds of Creatures
        </a>
        <div class="dropdown-menu">
          <a class="nav-link" href="{{url_for('creatures_page',name='beast')}}">Beast Creatures</a>
          <a class="nav-link" href="{{url_for('creatures_page',name='beings')}}">Beings Creatures</a>
          <a class="nav-link" href="{{url_for('creatures_page',name='spirit')}}">Spirits</a>
          <a class="nav-link" href="{{url_for('creatures_page',name='water')}}">Water Creatures</a>
          <a class="nav-link" href="{{url_for('creatures_page',name='dark')}}">Dark Creatures</a>
          <a class="nav-link" href="{{url_for('creatures_page',name='domesticate')}}">Domestic Creatures</a>
          <a class="nav-link" href="{{url_for('creatures_page',name='fantastic')}}">Fantastic Creatures</a>
          <a class="nav-link" href="{{url_for('creatures_page',name='plant')}}">Plant Creatures</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{url_for('encyclopedia')}}">Encyclopedia</a>
      </li>				  
      {% if current_user.username %}
      <li class="nav-item">
        <a href="{{ url_for('showbookmark') }}" class="nav-link" id="button">Show Bookmark</a>
      </li>				  
      {% endif %}
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('login_page')}}">Login</a>
    </li>				  
    <li class="nav-item m-3">
      <a class="nav-link" href="{{url_for('register_page')}}">Register</a>
    </li>	
    </ul>

    <div class="m-3 text-center float-end">
      {% if current_user.username %}
      <img src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=Ql6UUNosrWAY0w&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fpng-user-icon-icons-logos-emojis-users-2400.png&ehk=8agkVrs8bo9zafVF9Qk4%2bFqv5IwaEZrb8DwX%2ftfJtNc%3d&risl=&pid=ImgRaw&r=0">
      <a class="nav-link text-secondary">{{current_user.username}}</a>
      {% endif %}
    </div>				  
    <div class="m-3 float-end">
      <form class="d-flex" role="search" action="/search" method="post" >
        <img src="{{url_for('static',filename='img/owl logo.png')}}" alt="logo">           
        <input  id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" style="width: 150px;" >
        <div id="datalist"></div>            
        <button class="btn btn-outline-success" type="submit" value="Search">Search</button> 
      </form>      
    </div>
    <div>
      <div class="d-flex flex-nowrap float-end">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
          <a href="{{url_for('showList')}}" class="">
            show list
          </a>    
        </div>      
      </div>
    </div>
  </div>
</nav>


<script src="sidebars.js"></script>


{% block body %}
   
{% endblock %}
      

	<footer class="footer container-fluid text-center bg-dark mt-5 p-3">
    @copyright
    <!-- Made with  by Jayraj Derasari & Vrunda Patel -->
  </footer>
</body>
</html>


<!-- 
imgaes 
snitch url == 	https://static.harrypotterfanzone.com/themes/hpfz/assets/golden-snitch.png
hat url ==  https://static.harrypotterfanzone.com/themes/hpfz/assets/sorting-hat.png -->
<!-- https://media.harrypotterfanzone.com/harry-potter-magical-creatures-1260x0-c-default.jpg -->