<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='card.css')}}"> -->


</head>
<body style="color: white;">
  
  <!-- #grabbing flash messages to show error -->
  {% with messages=get_flashed_messages(with_categories=true) %}  
    {% if messages %}
      {% for category,message in messages %}
          <div class="alert alert-{{ category}}" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
          </div>
        

      {% endfor %}
    {% endif %}

  {% endwith %}


  
<header class="sticky">
<nav class="navbar navbar-expand-lg p-3" data-bs-theme="dark">
    <!-- <div class="logo"><img src="{{url_for('static',filename='img/unicorn.jpg')}}" alt="logo"></div> -->
    <div class="hat"><img src="	https://static.harrypotterfanzone.com/themes/hpfz/assets/sorting-hat.png" alt="logo"></div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a href="#beast-kinds" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Various kinds of Creatures
          </a>
          <div class="dropdown-menu">
            <a class="nav-link" href="{{url_for('creatures_page',name='beast')}}">Beast Creatures</a>
            <a class="nav-link" href="{{url_for('creatures_page',name='beings')}}">Beings Creatures</a>
            <a class="nav-link" href="{{url_for('creatures_page',name='spirit')}}">Spirits</a>
            <a class="nav-link" href="{{url_for('creatures_page',name='water')}}">Water Creatures</a>
            <a class="nav-link" href="{{url_for('creatures_page',name='dark')}}">Dark Creatures</a>
            <a class="nav-link" href="{{url_for('creatures_page',name='domesticate')}}">Domestic Creatures</a>
            <a class="nav-link" href="{{url_for('creatures_page',name='fantastic')}}">Fantastic Creatures</a>
            <a class="nav-link" href="{{url_for('creatures_page',name='plant')}}">Plant Creatures</a>
          </div>

      </li>

    <li class="nav-item">
      <a class="nav-link" href="{{url_for('encyclopedia')}}">Encyclopedia</a>
      </li>				  
      <!-- <li class="nav-item">
      <a class="nav-link" href="{{url_for('index')}}">Contact</a>
      </li>				   -->
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('login_page')}}">Login</a>
      </li>				  
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('register_page')}}">Register</a>
      </li>				  
      
      <li class="nav-item">
        <form class="d-flex" role="search" action="/search" method="post" >
            <section class="hat"><img src="{{url_for('static',filename='img/owl logo.png')}}" alt="logo"></section>           
            <input  id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" style="width: 150px;" >
            <div id="datalist"></div>            
            <button class="btn btn-outline-success" type="submit" value="Search">Search</button> 
        </form>      
    </li>
      <!-- new something list  -->
      <li class="nav-item">
      <main class="d-flex flex-nowrap" style="width: 80px;">
        <!-- <h1 class="visually-hidden">Sidebars examples</h1> -->
          <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: auto;">

        
          <a href="/layout" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" style="width: 100px;">
            show list
          </a> 
        
          <div class="list-group list-group-flush border-bottom scrollarea">
            {% for creatures in result %}
            <ul class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
                <a href="#" class="nav-link active" aria-current="page">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                  {{creatures[0]}}
                </a>
            </ul>
            {%endfor%}
          </div>
          </div>      
      </main>
    </li>
      
   
</div>
</nav>
</header>
<!-- <video src="E:\Prgrams\Project 1.mov"></video> -->

 

 




<!-- <h1>Bookmarks</h1>
    <form action="/add_bookmark" method="post">
        <label for="url">Names</label>
        <input type="text" name="url" id="url" required>
        <button type="submit">Bookmark</button>
    </form>
    <h2>Bookmarked URLs:</h2>
    <ul>
        {% for bookmark in bookmarks %}
        <li>{{ bookmark[1] }}</li>
        {% endfor %}
    </ul>  -->


     <!-- <h1>Animal Names</h1>
    <ul>
        {% for animal in animals %}
        <li>
            <a href="/add_bookmark/{{ animal[0] }}">{{ animal[1] }}</a>
        </li>
        {% endfor %}
    </ul>
     -->



     <!-- Assuming you have a button with the id="bookmark-button" -->


 <script>
        $(document).ready(function() {
            $('#searchInput').on('keyup', function() {  // Change the event to keyup
                var query = $(this).val();
                if (query.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/search',
                        data: {'query': query},
                        success: function(response) {
                            var results = response;
                            var resultList = $('#datalist');
                            resultList.text(results.join(', '));
                        }
                    });
                } else {
                    $('#datalist').empty();
                }
            });
        });
    </script> 

<script src="sidebars.js"></script>

<script>
  document.getElementById("watchMoreButton").addEventListener("click", function() {
      // Send an AJAX request to the server to fetch additional information about the element
      fetch('/more_info')
      .then(response => response.json())
      .then(data => {
          const additionalInfoContainer = document.getElementById("additionalInfoContainer");
          additionalInfoContainer.innerHTML = `
              <h2>${data.name}</h2>
              <p>${data.additional_info}</p>
          `;
      })
      .catch(error => {
          console.error('Error:', error);
      });
  });
</script>
{% block body %}
   


{% endblock %}
      

	<div class="footer text-center bg-dark mt-5">
		<div class="card-body">


      @copyright
			<!-- Made with  by Jayraj Derasari & Vrunda Patel -->
		</div>
	</div>




</body>

</html>


<!-- 
imgaes 
snitch url == 	https://static.harrypotterfanzone.com/themes/hpfz/assets/golden-snitch.png
hat url ==  https://static.harrypotterfanzone.com/themes/hpfz/assets/sorting-hat.png -->