{%extends 'layout.html'%}
{% block title%}
Register Page
{% endblock %}


{% block body%}   
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-sigin" style="color:white" action="">
            {{forms.hidden_tag()}}
            <h1 class="h3 mb-3 font-weight-normal">PLEASE LOGIN</h1>
            <br>
            {{forms.username.label()}}
            {{forms.username(class="form-control", placeholder="User Name")}} <!-- #accept attribute -->

            {{forms.password.label()}}
            {{forms.password(class="form-control", placeholder=" Password")}}

            <br>
            <div class="checkbox mb-3">
                <h6>Do not have account </h6>
                    <a class="btn btn-sm btn-secondary" href="{{url_for('register_page')}}">
                    Register 
                    </a>
            </div>
                 {{forms.submit(class="btn btn-lg btn-primary")}}
        </form>


    </div>
    

  

</body>
        
{% endblock %}
