<!-- This is MyAcc html page when we are logged in   -->


{% extends "layout.html" %}

{% block title %}
Quiz 
{%endblock %}

{% block body %}
<body class="container" style="text-decoration-thickness: 10px; color: white;">
    hey you are logged in 

<div class="checkbox mb-3">
    <!-- <a class="btn btn-sm btn-secondary" href="{{url_for('showbookmark') }}">Boookmark </a> -->
    <h6>Do you want to logout </h6>
    <a class="btn btn-sm btn-secondary" href="{{url_for('logout') }}">Logout</a>
 </div>

    
</body>


{% endblock%}