<!-- This is Search html page for showing all search option -->


{% extends "layout.html" %}

{% block title %}
result 
{%endblock %}

{% block body %}

<ul style="color: white;"> 
<div class="container-sm">


    <div class="table-responsive">
    
        <table class="table">
            <h1 style="align-items: center;text-align: center;">List of Beasts </h1>
            <thead>
              <tr>
              
                <th scope="col">Name</th>
                 
              </tr>
             </thead> 
           {% for result in results %} 
          <tbody> 
              <tr> 
            
                  <td>{{result[0]}}</td> 
              </tr>
              {%endfor%}
            </tbody>
          </table>

      
    
     </div> 
    
</ul>
</div>

{% endblock %}