<!-- This is Search html page for showing all search option -->


{% extends "layout.html" %}

{% block title %}
result 
{%endblock %}

{% block body %}



  <main>
    <h5>
      Magical Creatures
    </h5>
    {% for song in result %}
    <ul class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
      <div class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
       
        {{ song[0] }}
      </div>
    </ul>
    {% endfor %}
  </main>



   

{% endblock %}