*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.logo{
    float: inline-start;
    width: 120px;
    cursor: pointer;
}

.introduction{
    background: gray;
    color: antiquewhite;
    border-radius: 1%;
    padding: 5% 20%;
}

.logo img{
    float:inline-start;
    width : 70px;
    height: 70px;
    border: 6px solid white;
    border-radius: 100%;    
}

.navbar{
	padding: 0px 0px 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
	padding: 0px 18px;
	font-size: 15px;
}

.banner {
    font-size: large;
    color: aliceblue;
    height: 90vh;
}
.banner-title{
    margin: 35vh auto;
}

h2{
    font-weight: 800;
	font-size: 1.5rem;
    font-style: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.creatures{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.beast-kinds{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2% 0%;
    color: whitesmoke;
}

.row{
    padding: 1% 5%;
}

.creatures{
    color: aliceblue;
}

.creatures img{
    width: 40%;
    height: 30%;
}

.various-beasts img{
    width: 40%;
    height: 30%;
}

.footer{
    width: 100%;
    color: aliceblue;
    margin-top: 1%;
    padding: 1%;
}

.beast-data p{
    color: black;
}

.beast img{
    height: 50vh;
    width: 50vh;
}
