@font-face {
  font-family: 'MyFont';
  src: url("font/HarryP-MVZ6w.ttf") format('truetype');
}

*{
  font-family: 'MyFont',cursive;
}

body{
    display: grid;
    place-items: center;
    font-family: 'MyFont';
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: cursive;   
}


p{
  font-size: 15px;
  font-family: cursive;   
}

h1{
  font-family: 'MyFont';   
	font-size: 80px !important;
}

h2{
  font-family: 'MyFont';   
  font-weight: 800;
	  font-size: 70px !important;
    font-style: white;
}

h3{
    font-weight: 800;
  	font-size: 50px ;
    font-style: white;
    font-family: 'MyFont';   
  }


.btn{
  font-size: 20px ;
  padding: 5px;
}

/* layout */

.dropdown-menu {
  
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
 
  display: block;
  border: 1px solid white;
  font-size: 20px !important;
  top: 100%;
}
.navbar{
  position: sticky;
  top:0;
  width: 100%;
  display: flex;
}
.nav-item{   
  position: sticky;
    display: flex;
    font-size: 25px !important;
    align-items: center;
   
    margin: 5%;
    justify-content: space-between !important;
    
}

.navbar img{
  width : 50px;
  height: 50px;
}

.footer{
  color: aliceblue;
  position:static;
}
/* index */
.thumbnail {
    position: relative;
    width: 50%;
  }
  
.thumbnail-img {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.thumbnail-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: gray;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 10%;
}

.thumbnail:hover .thumbnail-img {
    opacity: 0.3;
}

.thumbnail:hover .thumbnail-text {
    opacity: 1; 
}

.banner {
    color: aliceblue;
}

.banner-title{
    margin: 35vh auto;
}

.introduction{
    background: gray;
    color: antiquewhite;
    border-radius: 1%;
}

.beast-kinds{
    padding: 2% 0%;
    color: whitesmoke;
}

.beast-kinds img{
    height: 300px;
    width: 500px;
}

/* creatures page */
.creatures{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.creatures img{
    width: 40%;
    height: 30%;
}

#various-beasts img{
    width: 40%;
    height: 30%;
}


/* beast */
.beast-data p{
    color: black;
}

#beast img{
    height: 50vh;
    width: 50vh;
}

.table {
    background-image: url('img/owl logo.png');
    background-repeat: no-repeat; 
    background-size: cover;
}

.img-resize {
    max-width: 300px;
    height: 300px;
    box-shadow: 3px 3px 7px rgba(255, 255, 255, 0.993);
  }

img {
    transition: transform 0.5s ease;
  }
  
img:hover {
    transform: scale(1.1);
  }
  /* Apply an overlay to the image on hover */
.img-container {
    position: relative;
    display: inline-block;
  }
  
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .img-container:hover .img-overlay {
    opacity: 1;
  }
  

  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  .card-image {
    /* height: 150px; */
    background-image: url('img/hippogriff.jpg');

    background-size: cover;
    background-position: center;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Light overlay color */
    pointer-events: none; /* Allow clicking through the overlay */
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3{
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .card-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  
  

  /* Search Option styles */
  .search-container {
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .search-list {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #9c9292;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 120px;
    overflow-y: auto;
  }
  
  .search-list li {
    padding: 8px;
    cursor: pointer;
  }
  
  /* Show the list when the input field is focused */
  .search-input:focus + .search-list {
    display: block;
  } */
  
  a{
    text-decoration: none;
    color: inherit;
  }
  

/* styles.css */

/* Set basic styles for the anchor tag (button) */

 /* Add some visual effects on hover  */
.tag-button:hover {
  background-color: #11c35e; 
  
}

/* Add more styles when the button is active (clicked) */
.tag-button:active {
  background-color: #51189b;
}

.tag-button{
  display: inline-block;
  background-color: #a9bacb;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Encyclopedia page*/
.card:hover {
    box-shadow: 2px 2px white;
    border: 2px solid black;
}
.card{
    display: inline-block;
}

.encyclopedia .card {
  width: 300px;
  height: 450px;
  float: left;
  white-space: wrap;
   overflow: hidden;
}

.encyclopedia .content {
  width: 400px;
  height: 450px;
  box-shadow: 0 10px 15px rgba(224, 35, 142, 0.842);
  transition: transform 1s;
  transform-style: preserve-3d;
  align-content:first baseline;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    line-height: 300px;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    backface-visibility:hidden;
    display: flex;
    flex-direction: column;  
}

.back {
  position: relative;
  height: 100%;
  width: 100%;
  /* background: rgb(163, 189, 216); */
  background-size: cover;
  background-position: center;
  line-height: 300px;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  border-radius: 5px;
  backface-visibility:hidden;
  display: flex;
  flex-direction: column;  
}

.back {
  background: linear-gradient(
    to bottom,
    hsl(193, 100%, 83%),
    #711b43
  );
  position: relative;
  color: rgb(8, 8, 8);
  transform: rotateY( 180deg );
  font-size: 15px;
  line-height: 20px;
  white-space: wrap;
}

.btn-primary{
  border-radius:4px;
  background-color:#ff425f;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
  background-color:#de2c48 !important;
  box-shadow:none;
}
.link:hover {
  color:#de2c48 !important;
  box-shadow:none;
}
.login .card{
  display: inline-block;
  width: 100%;
  height: 100%;
  
}
.login img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}


/* showList page */
.showList a{
  font-size: 30px;
  font-family: cursive !important;
}

.login{
  background: linear-gradient(
    to right, 
    rgb(144, 132, 158) 10%, 
    rgb(74, 8, 118) 45% 55%, 
    rgb(45, 2, 54) 90%
  );
}